@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body {
  margin: 0px;
  padding: 0px;
  height: 100%;
  width: 100%;
  background: #eee;
}
*{
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  font-family: "Poppins", sans-serif;
  font-style: normal;
  color: #000;
}
*::selection {
  background: #45FF773B;
}
a {
  color: #000;
  text-decoration: none;
}
.navigation-bar {
  position: sticky;
  top: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px;
  padding: 10px;
  background: #fff;
  border-radius: 15px;
  box-shadow: 0px 0px 2px lightslategrey;
}
.navigation-bar i,
.navigation-bar img{
  height: 30px;
  font-size: 30px;
  padding: 10px;
  vertical-align: middle;
  display: inline-block;
  transition: all ease 0.25s;
  border-radius: 5px;
}
.navigation-bar i:hover,
.navigation-bar img:hover {
  outline: 0.5px solid lightslategrey;
  background: #F7F7F7;
}
.navigation-bar i:active,
.navigation-bar img:active {
  transform: scale(0.925);
}
.navigation-bar-l {
  display: flex;
  flex-direction: row;
  align-content: center;
}
.navigation-bar-l div{
  display: none;
}
.navigation-bar-l div a {
  padding: 15px;
  font-size: 16px;
}
.navigations {
  display: none;
  width: fit-content;
  position: fixed;
  top: 80px;
  right: 5px;
  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(2.5px);
  border-radius: 15px;
  box-shadow: 0px 0px 2px lightslategrey;
}
@keyframes popup {
  0% {transform: scale(0.9); }
  50% {transform: scale(1.05); }
  100% {transform: scale(1); }
}
.navigations li{
  list-style-type: none;
  position: relative;
  left: -16px;
  margin: 0 0px;
  padding: 10px 15px;
  font-size: 16px;
  border-radius: 5px;
  transition: all ease 0.25s;
}
.navigations li:active{
  outline: 0.5px solid lightslategrey;
  background-color: #F7F7F7;
}
@media only screen and (min-width: 690px) {
  .navigation-bar-l div {
    display: flex;
    flex-direction: row;
    align-content: center;
  }
  .navigation-bar-r .ri-menu-line,
  .navigation-bar-r .ri-close-line{
    display: none;
  }
  .navigations {
    display: none!important;
  }
}
main {
  margin: 5px;
  width: calc(100%-10px);
  height: fit-content;
  padding: 5px;
  background-color: #FFF;
  border-radius: 15px;
  box-shadow: 0px 0px 2px lightslategrey;
}
.copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  font-weight: 300;
}
.intro {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  padding: 25px;
  gap: 10px;
}
.intro h1{
  margin: 20px;
}
.intro h1 span{
  background: -webkit-linear-gradient(#2A68FF, #14A4FF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.intro p{
  margin: 10px;
  font-weight: 400;
  color: #242424;
}

.intro-text-buttons {
  margin-top: 25px;
  display: flex;
  justify-content: center;
  gap: 15px;
}
.intro-text-buttons button {
  padding: 10px 20px;
  font-size: 16px;
  
  border-radius: 7px;
  border: none;
  
  transition: all ease 0.25s;
}
.intro-text-buttons button:active{
  transform: scale(0.9);
}
.intro-text-buttons a:nth-child(1) button {
  background: black;
  color: white;
  outline: 1px solid black;
}
.intro-text-buttons a:nth-child(2) button {
  background: #F1F1F1;
  outline: 1px solid #D9D9D9;
}

.gif img {
  width: 100%;
  height: auto;
}

@media only screen and (min-width: 690px) {
  .intro {
    flex-direction: row;
    justify-content: space-between;
  }
  .text {
    width: 60%;
  }
  .gif {
    width: 40%;
    padding: 30px;
  }
}

.contents-view-title {
  display: flex;
  justify-content: space-between;
  font-weight: 600;
  margin: 10px;
}
.contents-view-title .coloured {
  background: -webkit-linear-gradient(#3C6E47, #13A98A);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.contents-view-title .viewall {
  transition: all ease 0.1s;
}
.contents-view-title .viewall:hover {
  background: #78DC1157;
  outline: 7px solid #78DC1157;
  border-radius: 1px;
}
.project-list {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}
.top-box {
  margin: 20px;
  width: 350px;
  overflow: hidden;
  background: linear-gradient(to bottom, #ccc, #eee);
  border-radius: 5px;
  box-shadow: 0px 0px 5px #2980b9;
  margin-top: 30px;
  margin-bottom: 30px;
}
.top-box img {
  background: #FFFFFF;
  width: 100%;
  height: auto;
}
.top-box div {
  padding: 20px;
}
.copyright-main {
  background-image: url("https://cdn.discordapp.com/attachments/1192812117150146571/1259870877705703595/Untitled622.jpg?ex=668d41b0&is=668bf030&hm=5c3d3c1aba409717a6e88929d4d4e77b0a7dce8b63ab98a4cbb466317cf58958&");
  background-size: 650px;
}
.copyright-box {
  margin: 30px;
  padding: 20px;
  overflow: hidden;
  background: linear-gradient(to bottom, rgba(204, 204, 204, 0.6), rgba(238, 238, 238, 0.8));
  border-radius: 15px;
  box-shadow: 0px 0px 5px #2980b9;
  margin-top: 30px;
  margin-bottom: 30px;
  font-weight: 300;
  font-size: 14px
}