body {
  background: #363940;
}
*{
  color: #fff;
}
*::selection {
  background: #FFFFFF3B;
}
a {
  color: #fff;
}
.navigation-bar {
  background: #1C1D22;
  box-shadow: 0px 0px 2px #4C4E53;
}
.navigation-bar i:hover,
.navigation-bar img:hover {
 outline: 0.5px solid #4F535C;
 background: #363940;
}
.navigations {
  background: rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 2px #4C4E53;
}
.navigations li:active {
  outline: 0.5px solid #4F535C;
  background: #363940;
}
main {
  background: #1C1D22;
  box-shadow: 0px 0px 2px #4C4E53;
}
.intro p{
  color: #DEDEDE;
}
.intro-text-buttons a:nth-child(1) button {
  background: linear-gradient(to
  right, #344044, #4D5057);
  color: white;
  outline: none;
}
.intro-text-buttons a:nth-child(2) button {
  background: #D7D7D7;
  color: black;
  outline: none;
}
.top-box {
  background: linear-gradient(to bottom, #111, #17171F);
  box-shadow: 0px 0px 5px #3498db;
}
.copyright-main {
  background-image: url("https://cdn.discordapp.com/attachments/1192812117150146571/1201917442356420618/Untitled62.jpg?ex=668cb398&is=668b6218&hm=b87491a70bed09a945e434d617d8d4db716309ad85c68cb7fdedd459ce57510a&");
}
.copyright-box {
  background: linear-gradient(to bottom, rgba(17, 17, 17, 0.6), rgba(23, 23, 31, 0.8));
  box-shadow: 0px 0px 5px #3498db;
}