body {
  margin: 0;
}
*{
  font-family: Arial, Helvetica, sans-serif;
  transition: all ease 0;
}
a {
  text-decoration: none;
  color: black;
}
.navigation-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #3F3F3F!important;
}
.navigation-bar img {
  vertical-align: middle;
  height: 23px;
  padding: 5px;
  margin: 5px 5px;
}
.navigation-bar a,
.navigation-bar button {
  vertical-align: middle;
  padding: 5px;
  margin: 5px 5px;
  font-size: 14px;
  font-weight: 500;
}

.nb2 img {
  filter: brightness(0.7);
}
.nb2 button {
  color: white;
  background: #0073FF;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 500;
}
.google {
  width: 100%;
  display: flex;
  justify-content: center;
}
.google img {
  width: 150px;
  margin-top: 55px;
  margin-bottom: 20px;
}

.sb {
  display: flex;
  align-items: center;
  gap: 5px;
  margin: 15px;
  outline: 1px solid #C9C9C9;
  height: 38px;
  border-radius: 20px;
  transition: box-shadow ease 0.5s!important;
}
.sb:hover {
  box-shadow: 0 0 2.5px #4C4C4C;
}
.sb input {
  display: inline-block;
  flex: 1;
  font-size: 16px;
  border: none;
}
.sb input:focus,
input:-webkit-autofill {
  outline: none;
}
.sb img {
  overflow: hidden;
  height: 20px;
  padding: 10px;
}

.dw {
  position: absolute;
  color: #6B6B6B;
  background: #DADADA;
  bottom: 0%;
  width: 100%;
}
.dw .cy{
  vertical-align: middle;
  display: block;
  padding: 5px;
}
.dw div {
  padding: 5px;
  font-size: 14px;
}
.dw .o {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 10px 0;
  gap: 20px;
}
.dw .t {
  margin: 10px 0;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 15px;
}