body {
  color: white;
  background: linear-gradient(to right, #001f3f, #003366);
}

h2 {
  color: white;
  text-shadow: 2px 2px 15px rgba(0, 200, 260, 0.55); /* Adjust values as needed */
}

pre {
  font-size: 13px;
}

.image-text-container {
  background-color: rgba(24, 140, 210, 0.25);
  display: flex;
  align-items: center;
  justify-content: center; /* Center the content horizontally */
  text-align: center; /* Center the text within the container */
}

.image-text-container img {
  width: 100px; /* Adjust the width as needed */
  height: auto;
}

.image-text-container h3 {
  margin-left: 10px; /* Adjust the margin as needed */
}

a {
  text-decoration: none;
}

/* Style for the button */
button {
  display: inline-block;
  padding: 10px 15px;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  outline: none;
  color: #fff;
  background: linear-gradient(45deg, #ecf4f9, #3498db);
  border: none;
  border-radius: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Hover effect */
button:hover {
  background-color: #2980b9;
}

/* Style for the table with modified text color and rounded corners */
.myTable {
  border-collapse: collapse;
  width: 100%;
  max-width: 270px;
}

.myTable th, .myTable td {
  padding: 10px;
  text-align: left;
  border: 1px solid #ddd;
  border-radius: 0px; /* Slightly increased rounded corners */
}

.myTable th {
  background-color: #3498db;
  color: #fff; /* Header text color */
}

.myTable a {
  color: #fff; /* Anchor link text color */
}