body {
  color: white;
  background: url(iopage_whatsappbg.jpg);
  background-size: cover;
  background-attachment: fixed;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  background: linear-gradient(to
  right, #252929, #1C1F26);
 text-shadow: 2px 2px 5px rgba(0, 200, 260, 0.55);
  display: flex;
  align-items: center; /* centers between up and down*/
  justify-content: center; /* centres between left and right*/
}

a {
  text-decoration: none;
  color: white;
}

button {
  display: inline-block;
  padding: 10px 15px;
  font-size: 14px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  outline: none;
  background: linear-gradient(to
  right, #4D5057, #344044);
  color: white;
  border: none;
  border-radius: 15px;
  opacity: 0.9;
}

.myTable {
  border-collapse: collapse;
  width: 100%;
  max-width: 270px;
  border: 0.5px solid #ddd;
}

.myTable th, .myTable td {
  padding: 10px;
  text-align: left;
  border: 0.5px solid #ddd;
}

.myTable th {
  background: linear-gradient(to
  right, #252929, #1C1F26);
  color: #fff;
}

form {
    background: linear-gradient(to
  right, #252929, #1C1F26);
    max-width: 330px;
    padding: 10px;
    border-radius: 15px;
    margin: 0 left;
}

form fieldset {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 4px;
}

form legend {
    font-weight: bold;
    margin-bottom: 10px;
}

form label {
    display: block;
    margin-bottom: 20px;
    color: #555;
}

form input,
form select,
form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 5px;
    border: 3px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

form input[type="submit"] {
    background: linear-gradient(to
  right, #4D5057, #344044);
    color: white;
    padding: 10px 10px;
    font-size: 14px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    opacity: 1;
}

form input[type="submit"]:hover {
    opacity: 1;
}

form p,legend {
    font-size: 14px;
    color: white;
    margin-top: 5px;
}

footer {
  text-align: center
}

footer a{
  color: lightgreen;
  text-decoration: underline;
}

details p {
  background: linear-gradient(to
  right, #252929, #1C1F26);
  width: 290px;
  border-radius: 10px;
  padding: 10px;
  margin: 0 auto;
  opacity: 0.9;
}