
body {
  color: black;
  background: #eee;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
}
body a{
  color: black;
  text-decoration: none;
}
.topbar {
  margin: 5px;
  
  display: flex;
  flex-direction: column;
  
  position: sticky;
  top: 0;
}
.topbar-scroll {
  margin: 0;
  padding: 0px;
}
.topbar a{
  display: inline-block;
  padding: 10px;
}
.topline {
  padding: 10px;
  
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  font-size: 32px;
  font-weight: 400;
  
  background: white;
  border-radius: 15px;
  box-shadow: 0px 0px 2.5px lightslategrey;
}
.topline-scroll{
  padding: 0;
  font-size: 26px;
  background-color: rgba(220, 246, 255, 0.25);
  backdrop-filter: blur(5px);
  
  border-radius: 0px;
  box-shadow: 0px 0px 0px #000;
}
.topline a img{
  height: 32px;
}
.topline a:hover {
  outline: 0.5px solid lightslategrey;
  border-radius: 5px;
  background: #F7F7F7;
}

.topmenu {
  margin-top: 5px;
  padding: 10px;
  
  display: none;
  flex-direction: column;
  
  background: white;
  border-radius: 10px;
  box-shadow: 0px 0px 2.5px lightslategrey;
  
}
.topmenu-scroll {
  background-color: rgba(220, 246, 255, 0.25);
  backdrop-filter: blur(5px);
  border-radius: 0px;
  box-shadow: 0px 0px 1px #000;
  margin-top: 0;
}
.topmenu-more{
  display: none;
}

.topmenu a{
  display: block;
  padding: 15px 20px;
}
.topmenu a:hover{
  box-shadow: 0px 0px 2.5px lightslategrey;
  background: #eee;
  border-radius: 15px;
}

#content{
  margin: 5px;
  padding: 25px;
  background: white;
  border-radius: 15px;
  box-shadow: 0px 0px 2.5px lightslategrey;
}

.top-box {
  margin: 5px;
  padding: 20px;
  background: linear-gradient(to bottom, #ccc, #eee);
  border-radius: 5px;
  box-shadow: 0px 0px 5px #2980b9;
  margin-top: 30px;
  margin-bottom: 30px;
}

@media screen and (min-width: 500px) {
  body{
    margin: 0px;
  }
  .topbar{
    padding: 10px;
    flex-direction: row;
    justify-content: space-between;
    
    background: white;
    border-radius: 15px;
    box-shadow: 0px 0px 2.5px lightslategrey;
  }
  .topbar-scroll{
    background-color: rgba(220, 246, 255, 0.25);
  backdrop-filter: blur(5px);
  
  border-radius: 0px;
  padding: 0;
  box-shadow: 0px 0px 0px #000;
  }
  .topline{
    padding: 0px;
  
    background: rgba(0, 0, 0, 0);
    border-radius: 0px; 
    box-shadow: 0px 0px 0px #000;
  }
  .topline .rs{
    display: none;
  }
  .topmenu {
    margin-top: 0px;
    padding: 0px;
  
    display: flex;
    flex-direction: row;
    align-items: center;
  
    background: rgba(0, 0, 0, 0);
    border-radius: 0px; 
    box-shadow: 0px 0px 0px #000;
  }
  .topmenu-more{
    display: none;
    flex-direction: row;
    align-items: center;
  }
  #content{
    padding: 35px;
  }
}

footer {
  text-align: center;
  padding: 10px;
  margin: 5px;
}
.copyright a{
  font-weight: 300;
  text-decoration: none;
  color: black;
}


/**not in use**
a {
  text-decoration: none;
  color: black;
}

button {
  color: white;
  display: inline-block;
  padding: 10px 15px;
  text-align: center;
  cursor: pointer;
  background: linear-gradient(to right, rgba(77, 80, 87, 0.8), rgba(52, 64, 68, 0.8));
  border: none;
  border-radius: 15px;
  font-weight: 500;
}

button:hover {
  opacity: 1;
  border: solid 1px;
  border-color: #2980b9;
  background: rgba(0, 0, 0, 0)
}

.myTable {
  border-collapse: collapse;
  width: 100%;
  max-width: 270px;
  border: 0.5px solid #ddd;
}

.myTable th, .myTable td {
  padding: 10px;
  text-align: left;
  border: 1px solid #ddd;
}

.myTable th {
  background: linear-gradient(to right, rgba(37, 41, 41, 0.7), rgba(28, 31, 38, 0.7));
  color: #fff;
}

form {
    background: linear-gradient(to right, rgba(37, 41, 41, 0.7), rgba(28, 31, 38, 0.7));
    max-width: 330px;
    padding: 10px 10px;
    border-radius: 15px;
    margin: 0 left;
    opacity: 1;
}

form fieldset {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 15px 15px;
}

form legend {
    font-weight: bold;
}

form input,
form select,
form textarea {
    width: 100%;
    padding: 10px 10px;
    margin-bottom: 10px;
    border: 3px solid #ddd;
    border-radius: 10px;
    box-sizing: border-box;
}

form input[type="submit"] {
    background: linear-gradient(to
  right, #4D5057, #344044);
    color: white;
    padding: 10px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    opacity: 1;
    font-weight: 500;
}

form input[type="submit"]:hover {
    opacity: 1;
  border: solid 1px;
  border-color: #2980b9;
  background: rgba(0, 0, 0, 0)
}

form p,legend {
    color: white;
    margin-top: 5px;
}

footer a{
  color: #3498db;
  text-decoration: underline;
}

details summary{
  font-weight: 200;
}
details p {
  background: linear-gradient(to right, rgba(37, 41, 41, 0.7), rgba(28, 31, 38, 0.7));
  width: 290px;
  border-radius: 10px;
  padding: 10px 15px;
  margin: 0 auto;
  opacity: 1;
  font-weight: 200;
}
//

