body {
  color: white;
  background: url(/Images/ioPage_dark-bg.jpg);
  background-size: cover;
  background-attachment: fixed;
  font-family: Arial, Helvetica, sans-serif;
  transition: background 0.25s ease;
  margin: 0;
}

img {
  padding: 0px 6px;
}
/*Top Bar*/
.topbar {
  overflow: hidden;
  position: relative;
}
.topbar a {
  padding: 14px 16px;
  display: block;
  display: flex;
  align-items: center;
}

/*Name and Menu icon*/
.sitename {
  background: linear-gradient(to right, rgba(37, 41, 41, 1), rgba(28, 31, 38, 1));
  font-size: 25px;
  font-weight: 1000;
}
a.hamburger {
  background: rgba(0, 0, 0, 0.25);
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  padding: 15px 10px;
}

/*Menu Links*/
.topbar #myLinks {
  display: none;
  background: linear-gradient(to right, rgba(37, 41, 41, 0.5), rgba(28, 31, 38, 0.5));
} 

a {
  text-decoration: none;
  color: white;
}

button {
  color: white;
  display: inline-block;
  padding: 10px 15px;
  text-align: center;
  cursor: pointer;
  background: linear-gradient(to right, rgba(77, 80, 87, 0.8), rgba(52, 64, 68, 0.8));
  border: none;
  border-radius: 15px;
  font-weight: 500;
  transition: background 0.25s ease;
}

button:hover {
  opacity: 1;
  border: solid 1px;
  border-color: #2980b9;
  background: rgba(0, 0, 0, 0)
}

.myTable {
  border-collapse: collapse;
  width: 100%;
  max-width: 270px;
  border: 0.5px solid #ddd;
}

.myTable th, .myTable td {
  padding: 10px;
  text-align: left;
  border: 1px solid #ddd;
}

.myTable th {
  background: linear-gradient(to right, rgba(37, 41, 41, 0.7), rgba(28, 31, 38, 0.7));
  transition: background 0.25s ease;
  color: #fff;
}

form {
    background: linear-gradient(to right, rgba(37, 41, 41, 0.7), rgba(28, 31, 38, 0.7));
    max-width: 330px;
    padding: 10px 10px;
    border-radius: 15px;
    margin: 0 left;
    opacity: 1;
    transition: background 0.25s ease;
}

form fieldset {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 15px 15px;
}

form legend {
    font-weight: bold;
}

form input,
form select,
form textarea {
    width: 100%;
    padding: 10px 10px;
    margin-bottom: 10px;
    border: 3px solid #ddd;
    border-radius: 10px;
    box-sizing: border-box;
}

form input[type="submit"] {
    background: linear-gradient(to
  right, #4D5057, #344044);
    color: white;
    padding: 10px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    opacity: 1;
    font-weight: 500;
    transition: background 0.25s ease;
}

form input[type="submit"]:hover {
    opacity: 1;
  border: solid 1px;
  border-color: #2980b9;
  background: rgba(0, 0, 0, 0)
}

form p,legend {
    color: white;
    margin-top: 5px;
}

footer {
  text-align: center;
}

footer a{
  color: #3498db;
  text-decoration: underline;
}

details summary{
  font-weight: 200;
}
details p {
  background: linear-gradient(to right, rgba(37, 41, 41, 0.7), rgba(28, 31, 38, 0.7));
  width: 290px;
  border-radius: 10px;
  padding: 10px 15px;
  margin: 0 auto;
  opacity: 1;
  font-weight: 200;
}

.copyright a{
  font-weight: 200;
  text-decoration: none;
  color: white;
}

.cr {
  font-weight: 300;
  background: #005D4B;
  width: 70%;
  padding: 10px 20px;
  border-radius: 1px 20px 20px 20px;
  transition: background 0.1s ease;
  overflow-wrap: break-word;
  margin-left: 10px;
  margin-top: 10px;
}
.cr a{
  color: deepskyblue;
}