main {
  padding: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(45deg, rgba(66, 68, 90, 1), rgba(93, 189, 134, 1) , rgba(66, 150, 180, 1) );
    }
.ti {
  display: flex;
  flex-direction: row;
    }
.ti input {
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
  border: 0.5px solid black;
}
.ti .tableInput {
  width: 150px;
}
.ti .tableSubmit {
  width: 60px;
}
.table {
width: 230px;
min-height: 300px;
color: white;
border-radius: 5px;
display: flex;
background: rgba(255, 255, 255, 0.1);
backdrop-filter: blur(5px);
justify-content: center;
align-items: center;
}